<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="app.js" defer></script>
    <title>Pokédex</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav__bar">
                <div class="nav__bar--first">
                    <a href="/"><h1 class="nav__bar--title">Pokédex</h1></a>
                    <div class="nav__bar--second">
                        <ul class="nav__bar--links">
                            <a href="/"><li class="nav__bar--link">Accueil</li></a>
                            <a href="/pokedex"><li class="nav__bar--link">Pokédex</li></a>
                            <a href="/login"><li class="nav__bar--link">Login</li></a>
                            <a href="/favoris"><li class="nav__bar--link">Favoris</li></a>
                        </ul>
                    </div>
                </div>
                <h1 class="nav__bar--link title"><%= name %></h1>
                <form action="/logout" method="get">
                    <button type="submit" class="nav__bar--link title">Se déconnecter</h1>
                </form>
            </div>
        </nav>
    </header>
    
