<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style404.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Pokédex</title>
</head>
<body>

    <header>
        <nav class="nav">
            <div class="nav__bar">
                <div class="nav__bar--first">
                    <a href="/"><h1 class="nav__bar--title">Pokédex</h1></a>
                    <div class="nav__bar--second">
                        <ul class="nav__bar--links">
                            <a href="/"><li class="nav__bar--link">Accueil</li></a>
                            <a href="/pokedex"> <li class="nav__bar--link">Pokédex</li></a>
                            <a href="/login"><li class="nav__bar--link">Login</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
