<%- include("partials/header404") %> 
<section class="container__404">
    <div class="container__notfound">
        <h1 class="container__notfound--title">Error 404 : Burnt Page</h1>
        <img src="/img/dracofeu.jpg" alt="" class="container__notfound--img">
    </div>
</section>