<%- include("partials/header") %> 

<main>
    
    <div class="container__principal">
            <h2 class="container__principal--title">Bienvenue dans l'aventure Pokémon</h2>
            <img src="/img/imgbin_lugia-pixel-art-pokémon-png.png" alt="" class="container__principal--logo">
        </div>
    </div>
</main>

<%- include("partials/footer") %> 