<%- include("partials/header") %>

<section id="login__form">
    <form action="/signin" method="POST">
        <div class="login__form">
            <div class="login__form--cart">
                <h1 class="login__form--title">Sign in</h1>
                <hr id="hr__login">
                <div class="login__form--input">
                    <input type="text" name="pseudo" placeholder="Mon pseudo">
                    <input type="text" name="password" placeholder="Password">
                    <input id="login__form--connection" type="submit" value="Inscription">
                    <a id="login__form--forgot" href="/login">Vous avez déja un compte ? <br>Connectez vous ici <= </a>
                </div>
            </div>
        </div>
    </form>
</section>
<%- include("partials/footer") %>