* {
    font-family: 'Press Start 2P', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg : #202023;
    --color-nav: #0075BE;
    --color-title: #D5A100;
    --color-third : #0A285F;
    --color-last : #FFCC00;
    --color-white : #fff;
}

body {
    height: 100vh;
    background-color: var(--color-third) !important;
}

/* navbar */
.navbar-default {
    background-color: var(--color-third);
    border-color: var(--color-third);
}

.navbar {
    background-color: var(--color-nav);
}

.btn btn-outline-success my-2 my-sm-0 {
    margin-right: 1rem !important;
}
/* -------------------- Navigation Bar */


.nav__bar {
    display: flex;
    text-decoration: none;
}
.nav__bar a {
    text-decoration: none;
}

/* Nav First */
.nav__bar--first {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    background-color: var(--color-third);
    width: 100%;
}

.nav__bar--title {
    padding: 2rem;
    color: var(--color-title);
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Nav Second */
.nav__bar--second {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav__bar--links {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: right;
    align-items: right;
}

.nav__bar--link {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 2rem;
    margin-right: 2rem;
    justify-content: center;
    color: var(--color-white);
    text-align: center;
    align-items: center;
}

.nav__bar--links a {
    text-decoration: none;
}

.nav__bar--link:hover {
    color: var(--color-title);
}

.title {
    right: 0;
    color: var(--color-nav);
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--color-third);
    border: none;
    font-size: 0.7rem;
}

/* Nav-Search */
.nav__search {
    width: 100%;
    display: flex;
}

.nav__search--pokemon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.nav__search--pokemon input {
    padding: 0.67rem;
    background-color: var(--color-nav);
    border: none;
    color: var(--color-title);
    font-size: 0.6rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.nav__search--pokemon input::placeholder {
    color:  var(--color-title);
    font-size: 0.7rem;
}
.nav__search--pokemon input:first-child {
    width: 100%;
}

#type {
    width: 13rem;
    background-color: var(--color-nav);
    border: none;
    color: var(--color-title);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5rem;
}

#type:focus, textarea:focus, select:focus {
    outline: none;
}

.button__submit{
    background-color: var(--color-nav);
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    font-weight: 800;
    border-left: 1px solid var(--color-third);
    color: var(--color-last);
}
/* ------------------------------- Home Page  */
/* Container */
main{
    width: 100%;
    height: 90%;
}
.container__principal {
    background: url("../img/pokemon-1668727942899-10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 101%;
}

.container__principal--title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    color: var(--color-third);
}

.container__principal--logo {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: 0.2s ease;
    width: 10%;
    height: 10%;
    display: block;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    10% {
        width: 10%;
        height: 10%;
    }
    30% {
        width: 10%;
        height: 10%;
    }
    50% {
        width: 10%;
        height: 10%;
        transform: translateY(10px);
    }
    75% {
        width: 10%;
        height: 10%;
    }
    100% {
        width: 10%;
        height: 10%;
        transform: translateY(0px);
    }
}

/* ----------------------- Pokedex page */
.pokedex {
    height: 100%;
    background-color: var(--color-third);
}
.container__pokedex {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-third);
}

.container__pokedex--form {
    background-color:var(--color-title);
    padding: 1rem;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 23%;
    margin-top: 5rem;
    position: relative;
    border-radius: 10px;
    border: 5px solid var(--color-bg);
    justify-content: center;
}

.container__pokedex--img {
    width: 70%;
    padding-bottom: 3rem;
    padding-top: 1rem;
    margin: auto;
}

a .container__pokedex--img {
    display: block;
    margin: auto;
}

.container__pokedex--title {
    position: absolute;
    background-color: var(--color-bg);
    border-radius: 0.25rem;
    top: -5%;
    left: -1%;
    font-size: 0.8rem;
    padding: 0.6rem;
    color: var(--color-last);
    border: 1px solid var(--color-last);
}

.container__pokedex__details {
    position: absolute;
    color: var(--color-title);
    background-color: var(--color-bg);
    bottom: 3%;
    left: 11.5%;
    border-radius: 0.25rem;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 76%;
    font-size: 0.8rem;
    border: 2px solid var(--color-last);
    right: 41.6%;
    padding: 0.5rem 0.5rem;
}

.container__pokedex--type {
    padding: 0.7rem 0.5rem;
    line-height: 10%;
    font-size: 0.5rem;
    position: absolute;
    border-radius: 0.25rem;
    right: 10px;
    top: 10px;
    color: var(--color-title);
    border: 2px solid  var(--color-last);
    background-color: var(--color-bg);
}

/* Form input */

.form {
    display: flex;
    justify-content: center;
    gap: 1rem   ;
}

.bi-search::before {
    content: "\f502";
    padding: 0.15rem;
}


/* --------------- Pokemon page */
.container__pokemon {
    background-color: #0A285F;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5rem 0rem;
}

.container__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
}

.container__pokemon--image {
    background-color:var(--color-title);
    padding: 1rem;
    flex-wrap: wrap;
    width: 105%;
    border-radius: 0.25rem;
    margin-top: 1rem;
    border: 5px solid var(--color-bg);
    justify-content: center;
}

/* Right container */
.container__right {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
hr{
    width : 1px;
    color: var(--color-bg);
    border-color: var(--color-bg);
 }

.container__pokemon--details {
    display: flex;
    border-radius: 0.25rem;
    /* haut | droit | bas | gauche */
    padding: 0.2rem 0rem 1.4rem 0rem;
    margin: auto;
    background-color: var(--color-title);
    border: 5px solid var(--color-bg);
    text-align: left;
}

.container__pokemon--type {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    background-color:var(--color-title);
    border-radius: 0.25rem;
    border: 5px solid var(--color-bg);
    padding: 1rem;
}

.container__pokemon--change {
    display: flex;
    background-color:var(--color-title);
    border: 5px solid var(--color-bg);
    padding: 1rem;
    justify-content: space-between;
    border-radius: 0.25rem;
}

.container__pokemon--change a {
    text-decoration: none;
    color: var(--color-bg);
    margin: 0 1rem;
}

.container__pokemon--lists {
    width: 100%;
    text-decoration: none;
}
.container__pokemon--list {
    list-style: none;
    text-decoration: none;
    padding: 1rem 0;
    width: 100%;
}

.right {
    justify-content: left;
    text-align: left;
    align-items: flex-start;
}

.right,
.left{
    border: none;
}

/* ------------------- 404 page */
.container__notfound{
    height: 100%;
}

.container__notfound--img {
    width: 100%;
    height: 880px;
}

.container__notfound--title {
    margin-top: 5rem;
    color: var(--color-white);
    position: absolute;
    text-shadow: 0px 5px 2px #000000;
    display: flex;
    justify-content: center;
    width: 100%;
}


/* --------------------------- Login Form */


.login__form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12rem;
}

.login__form--cart {
    
    border-radius: 0.25rem;
    margin-top: auto 0;
    background-color: var(--color-title);
    position: relative;
}

.login__form--title {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto 0;
    margin: 1.5rem;
}

#hr__login {
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
}

.login__form--input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:  1rem 2rem;
}

.login__form--input input {
    padding: 1rem;
    background-color: var(--color-title);
    border: none;
    border-bottom: 2px solid black;
    color: var(--color-bg);
    margin: 1rem;

}

.login__form--input input::placeholder {
    color: var(--color-bg);
}

#login__form--forgot {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#login__form--connection {
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: var(--color-bg);
    color: var(--color-title);
    cursor: pointer;
    width: 100%;
}

.login__form--input a {
    text-decoration: none;
    color: var(--color-bg);
}

@media (min-width: 200px) and (max-width: 900px) {
    .container__pokemon {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .container__image {
        margin: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        text-align: center;
        /* margin-right: 0rem */
    }

    .container__pokemon--image {
        width: 100%;
    }

    .container__right--title {
        margin-top: 1rem;
    }

    .container__right {
        display: flex;
        flex-direction: column;
    }

    .container__pokemon--details {
        width: 100%;
    }

    .container__pokemon--type {
        width: 100%;
    }

    .container__pokemon--change {
        width: 100%;
    }

    .container__pokemon--list{
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    .left-list {
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
        width: 100%;
    }
}

@media (min-width:1100px) and (max-width: 1600px) {
    .nav__bar--first {
        margin-left: 0;
    }
    .nav__bar--links {
        flex-wrap: nowrap;
    }
    .nav__bar--link {
        margin-right: 0;
        padding: 1rem;
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    .nav__bar--links {
        flex-wrap: nowrap;
    }
    .nav__bar--link {
        margin-right: 0;
        padding: 1rem;
    }
}

@media (min-width: 300px) and (max-width: 1000px) {
    .container__principal--logo {
        top: 40%;
    }
}

@media (min-width: 200px) and (max-width: 1500px) {
    .container__pokedex--type {
        display: none;
    }
}

@media (min-width:550px) and (max-width: 900px) {
    .container__pokedex--form {
        width: 40%;
    }
}

@media (min-width: 200px) and (max-width: 550px) {
    .container__pokedex--form {
        width: 80%;
    }
}
